*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-02-20-test.md
_posts/2022-08-20-First*.md
_posts/2022-08-20-Second.md
_posts/2022-08-24-pythonQnA.md
_posts/2022-08-28-Checks.md
_posts/2022-08-29-python_lists.md
_posts/2022-09-25-Javascript_stuff.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-06-PBL-python_rapidapi.md
_posts/2022-10-10-Python_API.md
_posts/2022-10-11-Chess_Logic.md
_posts/2022-11-27-var-ass-dataab-lecture.md
_posts/2022-11-28-our.md
_posts/2022-11-29-js_with_6_chars.md
_posts/2022-11-30-2d_iteration.md
_posts/2022-11-30-ANS_2d_iteration.md
_posts/2022-11-30-teaching-time.md
_posts/2022-12-05-final_Iteration_lesson.md
_posts/2022-12-05-lists.md
_posts/2022-12-06-lessonComplete.md
_posts/2022-12-07-developing-procedures.md
_posts/2022-12-08-randomvalues.md
_posts/2022-12-12-Simulations.md
_posts/2022-12-14-vocab.md
_posts/2023-01-10-PBL-model.md
_posts/2023-02-23-dd-lesson.md

_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-13-AP-unit2-4a.md
_posts/2023-03-16-AP-unit2-4b.md
_posts/2023-03-16-database-test.md
_posts/2023-03-22-DS-space_time_complexity.md
_posts/2023-03-29-hashmaps.md
_posts/2023-04-26-P3M-SASSFundamentals.md
_posts/2023-03-07-AP-unit2-2.md
