<table>
    <tr>

      <td>
        <a href="{{ site.baseurl }}/lessonNotes">Lesson Notes</a>
      </td>

        {% for notebook in site.posts %}
        <td>
          <a href="{{ site.baseurl }}{{ notebook.url }}">{{ notebook.title }}</a>
        </td>
        <p>WORKING</p>
            {% if notebook.categories contains "lessons" %}
    
          <td>
            <a href="{{ site.baseurl }}{{ notebook.url }}">{{ notebook.title }}</a>
          </td>
    
            {% endif %}
    
      {% endfor %}
    </tr>
</table>